body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: #a10872;
  color: white;
}

h1 {
  margin-left: 2rem;
  margin-top: 26px;
}

h1,
form {
  text-align: center;
}

li.book-entry::marker {
  text-align: -webkit-match-parent !important;
}

nav {
  display: flex;
  justify-content: space-between;
}

.linksWrapper {
  padding: 1rem;
  margin: 1rem;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 1rem 0.6rem;
}

a:hover {
  color: #57311b;
}

ol {
  margin-top: 2rem;
}

#searchBarForm {
  display: flex;
  justify-content: space-between;
}

#booksDropdownWrapper {
  margin: 1.2rem;
  display: flex;
  align-items: center;
}

#booksDropdownWrapper div:nth-child(2) {
  margin-left: 1rem;
}

input:not([type="checkbox"]) {
  width: 25%;
  padding: 0.8rem;
  margin: 1.8rem;
}

.book-entry div:first-child {
  text-align: start;
}

#bookFormBtn,
#addBookBtn {
  padding: 1rem;
  width: 16%;
  margin: 1rem;
  color: white;
  background-color: #57311b;
  border-radius: 1rem;
  border-color: #6b5142;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

#bookFormBtn:hover,
#addBookBtn:hover {
  background-color: #712118;
  transition: background-color 0.3s;
}

#addBookBtn {
  margin-top: 2rem;
}

.bookForm {
  width: max-content;
  margin: 3rem;
  margin-left: 24%;
}

.deleteBookBtn {
  padding: 0.6rem;
  position: relative;
  left: 80%;
  color: white;
  background-color: #653434;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.deleteBookBtn:hover {
  background-color: #471c1c;
  transition: background-color 0.3s;
}

#viewMoreBtn {
  color: #471c1c;
  font-size: 1rem;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  background-color: white;
  border: none;
}

#viewMoreBtn:hover {
  cursor: pointer;
  color: #a10872;
  border-bottom: 1px solid #a10872;
}

select {
  padding: 0.4rem;
  margin: 0.4rem;
}

.notFound {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;

}